.fullScreen{
    width:100%;
    height:100vh;
    padding:20px;
}

.alignRight{
    position: fixed;
  right: 0;
  top:10px;
  width: 8em;
  margin-top: -2.5em;

}

.btnright{
    position: fixed; 
    right: 0;
    z-index: 10;
}


  .fr{
      float: right;
  }

  .mainbackground{
      background-color: aqua
  }
  .aboutbackground{
      background-color:greenyellow;
    
  }

  .contactbackground{
      background-color: chocolate;
  }

  .container{
    scroll-snap-type: y mandatory;
  }

  .child{
    scroll-snap-align: start;
  }