.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
   
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: 80%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    overflow-y: scroll;
  }
  
  .display-block {
    display: block;
  }

  .display-flex{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  
  .display-none {
    display: none;
  }

  .header{
    height:25px;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    background-color: #5fb9e2;
  }