@import url('https://fonts.googleapis.com/css?family=Montserrat');



body{
  font-family: 'Montserrat', sans-serif;
  margin:0;
  padding:0;
  width:100%;
}

html{
  height:100%;
  width:100%;
  background-size: cover;
  background-color: transparent;
  background-image: 
 /*  url(./assets/background.png), */
  linear-gradient(rgba(111, 226, 245, 0.42), rgba(43, 137, 142, 0.89),rgba(113 66 148),rgba(104 53 144),rgba(101 48 143));

  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}